.projects {
  padding-top: 109px;

  padding-bottom: 174px;

  max-width: 1600;

  .projectsHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 82px;
  }

  .projectTitle {
    span {
      color: #fff;
    }
  }

  .projectsLoaderWrapper {
    display: flex;
    justify-content: center;
  }
}
