@import '../../styles/blocks/mixins.scss';

.aboutRoleItem {
  display: flex;
  justify-content: space-between;

  height: 137px;

  background: #4f4f4f;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  padding-inline: 36px;
  padding-block: 16px;

  @include onDesktop {
    width: 569px;
    height: 137px;

    padding-block: 32px;
  }

  .aboutRoleInfo {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    .roleInfoTitle {
      font-family: 'Courier Prime', monospace;

      font-size: 22px;
      line-height: 28px;

      color: #fff;


      @include onDesktop {
        font-size: 33px;
        line-height: 37px;
      }
    }

    .roleInfoSpan {
      font-family: 'Courier Prime';

      font-weight: 400;
      font-size: 25px;
      line-height: 28px;
      text-decoration-line: underline;
      color: #70ff00;
    }
  }

  .roleInfoIconWrapper {
    display: flex;
    align-items: center;

    .roleInfoIcon {
      width: 50px;
      height: 50px;
    }
  }
}
