@import '../../styles/blocks/mixins.scss';

.mainSingleProject {
  .mainSingleContent {
    @include pageGrid();

    .singlePosterWrapper {
      grid-column: 1/-1;

      margin-bottom: 60px;

      display: flex;
      justify-content: center;

      @include onSmallDesktop {
        grid-column: 1/6;
        display: block;
      }

      .singlePoster {
        border-radius: 5px;
        height: 400px;

        width: 350px;

        @include onTablet {
          width: 100%;
        }

        @include onSmallDesktop {
          width: 700px;
        }

        border: 2px solid #fff;
        object-fit: cover;
      }
    }

    .mainSingleDesc {
      grid-column: 1/-1;

      display: flex;
      flex-direction: column;

      gap: 15px;

      margin-bottom: 40px;

      @include onSmallDesktop {
        grid-column: 8/13;

        margin-bottom: 0;
      }

      .mainSingleDescTitle {
        color: #fff;
        font-weight: 700;

        font-size: 38px;
        line-height: 57px;
      }

      .mainSingleDescValue {
        color: #e2e2e2;
      }

      .mainSingleDescStackWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        align-items: center;

        .skillWrapper {
          position: relative;

          .skillText {
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.5s ease;

            color: #f2f2f2;
          }
        }
      }
    }
  }

  .mainSingleProjectDetails {
    grid-column: 1/-1;

    padding-bottom: 40px;

    .singleProjectDetailText {
      font-weight: 400;
      font-size: 29px;
      line-height: 40px;
      color: #f2f2f2;
    }
  }
}

.demoLink {
  color: #e2e2e2;
}

.skillWrapper:hover .skillText {
  opacity: 1;
}
