@import '../../styles/blocks/mixins.scss';
.about {
  margin-bottom: 50px;
  @include onSmallDesktop {
    margin-bottom: 200px;
  }
  .aboutContent {
    @include pageGrid();

    align-items: center;
  }
}
