.headerSocial {
  display: flex;
  gap: 40px;

  align-items: center;

  &[data-isOpen='true'] {
    flex-direction: column;
  }

  .socialItemRegular {
    display: flex;
    gap: 12px;
    align-items: center;

    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 30px;

    color: #ffffff;
  }

  .socialButton {
    display: flex;
    align-items: center;

    gap: 15px;
    justify-content: center;
    height: 56px;
    width: 229px;
    border-radius: 13px;

    background: none;

    font-weight: 700;
    font-size: 21px;
    line-height: 25px;

    color: #ffffff;

    border: 1px solid #33ff00;

    cursor: pointer;

    .socialIcon {
      height: 19.5px;
      width: 36px;
    }
  }
}
