@import '../styles/blocks/mixins.scss';

.topWrapper {
  margin-bottom: 60px;
  @include onTablet {
    height: 100%;
  }

  @include onSmallDesktop {
    height: 100vh;

    margin-bottom: 200px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }
}
