@import '../../styles/blocks/mixins.scss';

.breadCumbsWrapper {
  display: flex;
  align-items: center;

  gap: 10px;

  margin-bottom: 40px;

  @include onSmallDesktop {
    margin-bottom: 80px;
  }

  .breadCumbsIcon {
    cursor: pointer;
  }

  .breadCumbsText {
    color: #fff;
  }
}
